/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|PT+Sans|Roboto');
@font-face {
  font-family: "Caption";
  src: url("fonts/PT_Sans/PTC75F.ttf");
   }
@font-face {
  font-family: "Narrow";
  src: url("fonts/PT_Sans/PTN57F.ttf");
   }
html{
	font-size:62.5%;
}
body{
	margin:0;
	padding:0;
}
header{
	background: url("images/banner.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	width:100%;
	color:white;
	position:relative;
}
.header-content{
	width:75%;
	position:relative;
	margin:0 auto;
	padding:40px;
}
 .header-content a{
	color:white;
	text-decoration:none;
}
.header-content h1{
	font-family: 'Montserrat' , sans-serif;
	font-size:3rem;
	font-weight: bold;
	float:left;
	text-transform: uppercase
}
.header-content nav{
	font-family: 'Lato', sans-serif;
	font-size:1.4rem;
	float:right;
}
.header-content nav ul{
	list-style-type: none;
	display:flex;
}
.header-content nav ul li{
	padding:0 15px 0 0;
}
.header-content nav ul li a{
	text-decoration: none;
	transition:all 0.2s;
}
nav ul li a:after{
	content:'';
	display:block;
	margin:5px 0 0 0;
	border-top:2px solid #fff;
	width:0;
	transition: all 0.2s;
}
nav ul li a:hover:after{
	border-top:2px solid #fff;
	width:100%;
}
button{
	display:none;
}
.trigger span{
	display:none;
}
/* https://github.com/h5bp/html5-boilerplate/blob/4ded8b5ce09d2b665e5893945b29d8d626691086/dist/css/main.css#L135-L145 */
.visuallyhidden {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.header-content .content{
	clear:both;
	max-width:900px;
	font-family: 'PT Sans', sans-serif;
	letter-spacing: 1px;
	margin:150px 0 0 0;
}
.header-content .content h3{
	font-size:4.2rem;
	font-weight:bold;
}
.header-content .content p{
	font-size:1.6rem;
	line-height: 24px;
	padding:20px 0;
}
.header-content .scroll-down{
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size:0.9rem;
	margin:140px auto 0 auto;
	width:80px;
}
.header-content .scroll-down img,span{
	display:block;
	margin:0 auto;
	padding:5px;
}
/*NEWS*/
.news{
	width: 100%;
	color: #fff;
}
.news .news-container{
	max-width:1200px;
	margin:0 auto;
	padding: 30px 0;
}
.news .news-container .news-view{
	margin:10px;
	position:relative;
	display:inline-block;
}
.news .news-container .news-view img {
	max-width:100%;
	height:auto;
}
.news .news-container .news-view .news-content{
	width:75%;
	position:absolute;
	bottom:0;
	left:0;
	margin:20px;
}
.news .news-container .news-view .news-content h3{
	font-family: 'PT Sans', sans-serif;
	font-size:2.2rem;
	letter-spacing: 1px;
	line-height: 26px;
	margin-bottom:10px;
}
.news .news-container .news-view .news-content span{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:1.2rem;
}
.news .news-container .news-view .news-content img, 
.news .news-container .news-view .news-content span{
	display: inline-block;
}
/*SERVICES*/
.services{
	color:black;
	width:100%;
}
.content-title{
	text-align:center;
	font-size:2.4rem;
	font-family: 'Narrow', sans-serif;
	font-weight: bold;
	padding:30px;
}
.services .services-content{
	max-width:1200px;
	margin:30px auto;
	padding-left:30px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.services .services-content .service{
	width:300px;
	height:200px;
}
.services .services-content .service h3{
	font-size:1.4rem;
	font-family: 'Caption', sans-serif;
	font-weight: bold;
	color:#324953;
	padding-left:50px;
}
.services .services-content .service p{
	font-size:1.2rem;
	font-family: 'Lato', sans-serif;
	color:#72848c;
	line-height: 16px;
	hyphens: auto;
	padding:10px 50px 25px 50px;
}
.services .services-content .service img{
	float:left;
}
/*WORKS*/
.works{
	width:100%;
	color:white;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	min-height: 300px;
}
.work-contents{
	width: 25%;
	max-width: 400px;
	min-width: 200px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#work-1
{
	background-image: url('images/foto_1.jpg');

}
#work-2
{
	background-image: url('images/foto_2.jpg');

}
#work-3
{
	background-image: url('images/foto_3.jpg');

}
#work-4
{
	background-image: url('images/foto_4.jpg');

}
.overlay{
	width:100%;
	height:100%;
}
.work-contents:hover .overlay{
	background: rgba(0,0,0,0.7);
}
.work-content{
	width:100%;
	height:100%;
	opacity:0;
	text-align:center;
	padding:75px 0;
	box-sizing: border-box;
}
.work-content:hover{
	opacity:1;
}
.work-content h3{
	font-size:2rem;
	font-family: 'Narrow', sans-serif;
	font-weight: bold;
}
.work-content p{
	font-size:1.4rem;
	font-family: 'Lato', sans-serif;
	padding:15px;
}
#work-share{
	width:70px;
	margin:0 auto;
	display: flex;
}
.work-content img{
	width:25px;
	height:25px;
}
.work-content span{
	font-size:1rem;
	font-family: 'Lato', sans-serif;
}
/*TEAM*/
.team{
	width:100%;
	text-align: center;
	padding:20px 0;
}
.team .team-container{
	width:90%;
	margin:0 auto;
}
.team .team-container .person{
	display: inline-block;
	max-width: 330px;
	height: 430px;
	margin:50px 35px;
	position: relative;
}
.team .team-container .person .icon li{
	margin:0 15px;
}
.team .team-container .person .icon li:nth-child(1){
	position: absolute;
	top:140px;
	left:30px;
}
.team .team-container .person .icon li:nth-child(2){
	position: absolute;
	top:165px;
	left:80px;
}
.team .team-container .person .icon li:nth-child(3){
	position: absolute;
	top:140px;
	left:130px;
}
.team .team-container .person .person-photo{
	position: relative;
    height: 213px;
    width: 213px;
    margin: 0 auto;
    border-radius: 100%;
    overflow: hidden;
}
.team .team-container .person .person-photo img{
  height: 100%;
  width: 100%;
}
.team .team-container .person .person-photo .overlay-round{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  display: none;
}
.team .team-container .person .person-photo:hover .overlay-round{
	display:block;
}
.team .team-container .person .person-name{
	font-size:2.2rem;
	font-family: 'Narrow', sans-serif;
	font-weight: bold;
	color:#324953;
	padding:20px 0 0 0;
}
.team .team-container .person .person-position{
	font-size:1.2rem;
	font-family: 'Narrow', sans-serif;
	color:#afbfc6;
}
.team .team-container .person p{
	font-size:1.2rem;
	font-family: 'Lato', sans-serif;
	color:#72848c;
	line-height: 26px;
}
/*CONTACT*/
.contact{
	width:100%;
	min-height: 500px;
	background:#e7eef2;
	background-image: url('images/mail.png');
	background-position: left;
	background-size: cover;
}
.contact .contact-container{
	width:80%;
	margin:0 auto;
}
.contact .contact-container h2{
	font-size:2.6rem;
	font-family: 'Narrow', sans-serif;
	font-weight: bold;
	padding:50px 0;
}
.contact-content{
	width:100%;
}
.contact .contact-container .input-form{
	width:30%;
	float:left;
}
.contact .contact-container .wyslij{
	width:30%;
}
.contact .contact-container .input-form input{
	width:100%;
	margin:10px 0;
	padding:10px;
	color:#72848c;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	border: none;
	border-radius:3px;
	box-sizing: border-box;
}
.contact .contact-container .input-form input:first-child{
	margin-top:0;
}
.contact .contact-container input[type="submit"]{
	width:100%;
	margin-top:67px;
	padding:10px;
	color:white;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	border: none;
	border-radius:3px;
	background:#141a20;
	margin-bottom:0;
}
.contact .contact-container .comment{
	width:60%;
	box-sizing: border-box;
	margin:0 30px;
	float:right;
}
.contact .contact-container textarea{
	width:100%;
	min-height:300px;
	border: none;
	border-radius:3px;
	box-sizing: border-box;
	resize: none;
	padding:10px;
}
/*FOOTER*/
footer{
	width:100%;
	background-color: #141a20;
	color:white;
	text-align:center;
}
footer h2{
	font-size:22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding:40px 0 20px 0;
	letter-spacing:1px;
}
footer a{
	color:#fff;
	text-decoration: none;
}
footer nav ul li{
	display:inline-block;
	font-size:10px;
	font-family: 'Roboto', sans-serif;
	padding:15px;
	letter-spacing:1px;
}
footer .social li
{
	display:inline-block;
	padding:10px 15px;
	padding-bottom:50px;
}
/*STICKY MENU*/

/*MEDIA QUERIES MAX-WIDTH 768PX*/
@media only screen and (max-width:768px){
	button{
		display: block;
		outline: none;
	}

	.header-content .content{
		margin-top:100px;
	}
	.header-content .content h3{
		font-size: 3.0rem;
	}
	.header-content .content p{
		font-size: 1.4rem;
		line-height: 18px;
	}
	.header-content .scroll-down{
		margin:40px auto 0 auto;
	}
	.nav-toggler{
		background:transparent;
		border:none;
		float:right;
	}
	.nav-toggler__icon{
		width:35px;
		height:25px;
		border-top:4px solid white;
		position: relative;
	}
	.nav-toggler__icon:before,
	.nav-toggler__icon:after{
		content:'';
		position: absolute;
		top:0;
		left:0;
		width:100%;
		border-top:4px solid white;
		transform: translateY(6px);
	}
	.nav-toggler__icon:after{
		transform: translateY(16px);
	}
	.mobile-menu{
		width:100%;
 		height: 100vh;
 		background-color: rgba(0,0,0, 0.9);
 		position: fixed;
 		top: 0;
		left: 0;
 		transition: 0.5s;
 		overflow-y: hidden;
 		z-index: 1;
 		display:none;
 		transition: all 3s linear;
	}
	.nav-toggler {
		display: block;
		}
	.nav_open{
		display: block;
		}
	button{
		background:transparent;
		border:none;
		display:none;
	}
	.close-toggler{
		display:block;
	}
	.close__nav{
		color: white;
		display:block;
		position: absolute;
	    top: 0px;
	    right: 45px;
	    font-size: 60px;
	}
	.mobile-menu ul{
		text-align:center;
		position: relative;
		top:20%;
		flex-direction: column;
	}
	.mobile-menu ul li a{
		padding: 8px;
	    font-size: 36px;
	    color: #818181 ;
	}
	.mobile-menu ul li a:after{
		border-top:none;
	}
	.mobile-menu ul li a:hover:after{
		border-top:none;
	}
	.mobile-menu ul li a:hover{
		color: #f1f1f1;
	}
	.contact .contact-container .input-form{
		width:100%;
	}
	.contact .contact-container input[type="submit"]{
		margin-top: 10px;
	}
	.contact .contact-container .comment{
		width:100%;
		margin:0;
	}
	.contact .contact-container textarea{
		margin:10px 0 5px 0;
		min-height:100px;
	}
	.contact .contact-container .contact-content{
		display:block;
	}
	.work-content{
		padding:25px 0;
	}
	.work-content h4{
		font-size:1.6rem;
	}
	.work-content p{
		font-size:1.2rem;
	}
	  .trigger {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 3;
    cursor: pointer;
    transition: top .1s ease-in-out;}
    .trigger span {
      display: block;
      width: 100%;
      height: 5px;
      padding:0;
      background: #f1f1f1;
      margin: 0 0 5px 0;
      transition: all .2s ease-in-out;
      position: absolute;}
      
      .trigger span:first-child {
        top: 0;
        left: 0;
      }
      
     .trigger span:nth-child(2) {
        top: 10px;
        left: 0;
      }
      
      .trigger span:last-child {
        top: 20px;
        left: 0;
      }
    
    
    .on {
      top: 40px;}
      
       .on span:first-child {
        transform: rotate(45deg);
      }
      
      .on span:nth-child(2) {
        transform: rotate(-45deg);
        top: 0;
      }
      
      .on span:last-child {
        transform: rotate(45deg);
        top: 0;
      }
}
@media only screen and (min-width:769px) and (max-width: 1100px){
		.work-contents{
			height:200px;
		}
		.work-content{
		padding:15px 0;
	}
}
